html {
    scroll-behavior: smooth;
  }

body{
    background-color: #fff2ac;
}

header {
    color: #522500;
    /* credit: Photo by Ayesha Firdaus on Unsplash */
    height: 600px;
    text-align: center;
}

header h1 {
    font: outline;
    font-size: 5rem;
    font-family: 'Berkshire Swash', cursive;
    color: #FFD700;
    padding-top: 4rem;

    background-color: rgba(0, 0, 0, 0.3);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.jumbo {
    max-width: 700px;
    margin: 50px auto;
    text-align: center;
}

.jumbotron {
    background-color: #815531;
    color: #fff2ac;
    box-shadow: 10px 10px 5px grey;
}

.btn {
    background-color: #FFD700;
    color: #000;
}

footer {
    color: #fff2ac;
    background-color: #000;
    text-align: center;
}
h3 {
    font-family: 'Berkshire Swash', cursive;
    color: #FFD700;
    padding: 1.5rem;
}

hr{
    background-color: #FFD700;
}

.row img{
    width: 50px;
}
#logo{
    width: 20rem;
}

.credit {
    text-align: center;
    background-color: #fff;
}

@media screen and (min-width: 600px) {
img {
    transition: transform .2s;
}
img:hover {
    transform: scale(1.2); 
  }
}